---
import { ColorSchemeScript } from '@mantine/core';
import App from '../components/App';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>World Clock Dashboard</title>
		<meta name="description" content="Track time across multiple cities worldwide" />
		<ColorSchemeScript />
	</head>
	<body>
		<App client:idle />
	</body>
</html>
